*~
obj/
bin/
.gdb.in
.qemu.out
cscope.*
ncscope.*
tags
*swp
.cproject
.project
*.bak
*.org
.codelite
*.project
*.workspace
a.out
*.log
*.exe
chytesting
disk0
*.orig
._.DS_Store
._.gitignore
._report.md
._*
labcodes/lab7/lab7
